body,
html {
	margin: 0px;
	font-family: 'Protest Riot', sans-serif;
}

.wrapper {
	background-image: url(./data/bg.png);
	height: 100vh;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-bottom: 8rem;
}
.heading {
	margin: 0px;
}
.riddle {
	width: 20rem;
}
.input-box {
	background-color: #fff;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
	box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
	box-sizing: border-box;
	color: #0f1111;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0.3rem 0.7rem;
	font-family: inherit;
}
.button-13 {
	margin: 0.5rem;
	background-color: #fff;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
	box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
	box-sizing: border-box;
	color: #0f1111;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 1rem;
	line-height: 29px;
	width: 6rem;
}

.button-13:hover {
	background-color: #f7fafa;
}

.location-ans {
	width: 20rem;
}
